<!-- Start Banner Area -->
<section class="banner-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="banner-content" *ngFor="let Content of bannerContent">
          <h1>
            {{ Content.title }}
            <ngx-typed-js
              [strings]="['Health Care', 'Home Services', 'Social Media ']"
              [typeSpeed]="100"
              [loop]="true"
              [backSpeed]="100"
              [showCursor]="false"
            >
              <span
                class="typing"
                style="
                  color: white;
                  background-color: #2a7a78;
                  padding-left: 10px;
                  padding-right: 10px;
                "
              ></span>
            </ngx-typed-js>
          </h1>
          <p style="color: white">{{ Content.paragraph }}</p>
          <form>
            <div class="row m-0 align-items-center">
              <div class="col-lg-4 col-md-12 p-0">
                <div class="form-group">
                  <label><i class="flaticon-search"></i></label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="What are you looking for?"
                  />
                </div>
              </div>

              <div class="col-lg-3 col-md-6 p-0">
                <div class="form-group category-select">
                  <label><i class="flaticon-pin"></i></label>
                  <ngx-select-dropdown
                    name="category-select2"
                    tabindex="0"
                    [multiple]="false"
                    [(ngModel)]="_singleSelect"
                    [config]="_config"
                    [options]="_locations"
                  ></ngx-select-dropdown>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 p-0">
                <div class="form-group category-select">
                  <label><i class="flaticon-category"></i></label>
                  <ngx-select-dropdown
                    (searchChange)="searchChange($event)"
                    name="category-select"
                    tabindex="1"
                    [multiple]="false"
                    [(ngModel)]="singleSelect"
                    [config]="config"
                    [options]="options"
                  ></ngx-select-dropdown>
                </div>
              </div>

              <div class="col-lg-2 col-md-12 p-0">
                <div class="submit-btn">
                  <button type="submit">Search Now</button>
                </div>
              </div>
            </div>
          </form>
          <ul class="popular-search-list">
            <li style="color: wheat">Popular:</li>

            <li>
              <a routerLink="/listing-view/1" style="color: white">Health Care</a>
            </li>
            <li style="position: relative;">
              <a  (click)="showDrp()" style="color: white; cursor: pointer;">Home Services</a>
              <div class="custom-select" *ngIf="showDrpNow">
                <a *ngFor="let web of websiteList" href="#">
                  {{ web.name }}
                </a>
              </div>
            </li>
            <li>
              <a routerLink="/listing-view/9" style="color: white">Social Media</a>
            </li>

           
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->
